.homeBody{
  display: flex;
  justify-content: center;
}
.homeFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeTitle{
  text-align: center;
}

.homeBorder{
  width: 40%;
  margin: 40px 20px 60px 20px;
  background-color: #F7CCAC;
  border-style: solid;
  border-color: #413F3F;
  border-radius: 30px;
  box-shadow: 2px 2px 2px rgba(169, 168, 168, 0.7);
}

.homeWrap{
  margin: 20px 10px 10px 20px
}

.homeDesc{
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
}

.homeDescSmall{
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left:10px;
  font-size:14px;
}

.homeBar{
  width: 800px;
  height: 5px;
  background-color: grey;
}

.homeBtnWrap{
  display: flex;
  justify-content: center;
}

.homeBtn{
  background-color: #3A3845;
  border-color: #3A3845;
  color: #fff;
  border-radius: 20px;
  width: 100px;
}